/* .userlist {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    margin: 0px 100px;
    border: 1px solid #ddd;
    border-radius: 6px;
} */

.userlist__usertable {
    width: 70%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table.userlist__usertable {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

table.userlist__usertable th {
    background-color: #0056b3;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: 2px solid #e0e0e0;
}

.userlist__usertable td {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    color: #555;
    text-align: center;
}

table.userlist__usertable tr:nth-child(even) {
    background-color: #f9fbfc;
}

table.userlist__usertable tr:hover {
    background-color: #eef3fa;
    transition: background-color 0.3s ease;
}

table.userlist__usertable td {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: #4a90e2;
}

table.userlist__usertable td .action-icon {
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
    color: #4a90e2;
    transition: color 0.2s ease;
}

.userlist__addbtn {
    background-color: white;
    color: #2196f3;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.userlist__addbtn:hover {
    background-color: whitesmoke;
}



.userlist__editbtn {
    background-color: #268014;
    color: white;
    padding: 6px 12px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    width: 90px;
}

.userlist__editbtn:hover {
    background-color: #1c6d0c;
}

.userlist__deletebtn {
    background-color: #C11A36;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    width: 90px;
}

.userlist__deletebtn:hover {
    background-color: #b10707;
}

table tr td.userlist__emptyerr {
    color: #721c24;
    background-color: #f8d7da;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}
