.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #F3F2ED;
}

.headerIconsContainer{
    display: flex;
    gap: 15px;
}

.header a{
    margin-left: 25px;
}

.headerIcon{
    width: 20px;
}
