.LoginMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.LoginPageContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 1000px;
}

.LoginPageContainerContent {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.LoginPageContainer h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.LoginGoogleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    padding: 3px;
    font-size: 20px;
}

.LoginGoogleButton img {
    width: 30px;
    margin-right: 8px;
}

.divider {
    margin: 15px 0px;
    font-size: 16px;
    color: #666;
}

.loginPageForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.LoginInputText {
    display: block;
    text-align: left;
    font-size: 14px;
    width: 100%;
}

.LoginInputText p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.LoginInputText input {
    font-size: 20px;
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.LoginRememberForgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.LoginRememberForgot__checkbox p{
    font-size: 16px;
}

.LoginRememberForgot label {
    display: flex;
}

.ForgotPassword {
    color: #007bff;
    text-decoration: none;
}

.ForgotPassword:hover {
    text-decoration: underline;
}

.LoginPageButton {
    width: 100%;
    padding: 20px;
    background-color: #0A5FA6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.LoginPageButton:hover {
    background-color: #000000;
}

.LoginImgContainer {
    width: 50%;
    max-width: 1000px;
}

.LoginImgContainer img {
    margin-left: 60px;
    height: 90%;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .LoginPageContainer {
        width: 100%;
    }

    .LoginImgContainer {
        display: none;
    }

    .LoginInputText p {
        margin-left: 0px;
    }

    .LoginRememberForgot__checkbox {
        margin-left: 0px;
    }

    .LoginPageContainerContent {
        width: 100%;
        margin: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .LoginMainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .LoginPageContainer {
        width: 70%;
        margin-bottom: 20px;
    }

    .LoginImgContainer {
        width: 70%;
    }

    .LoginImgContainer img{
        margin-left: 0;
        height: 80%;
        width: 80%;
    }
}

@media only screen and (max-width: 1100px) {

    .LoginPageContainer h2 {
        font-size: 22px;
    }
    
    .LoginGoogleButton {
        font-size: 14px;
    }

    .divider {
        font-size: 14px;
    }

    /* .LoginInputText {
        font-size: 12px;
    } */
    
    .LoginInputText p {
        font-size: 14px;
    }
    
    .LoginInputText input {
        font-size: 14px;
    }
    
    .LoginRememberForgot {
        font-size: 12px;
    }
    
    .LoginRememberForgot__checkbox p{
        font-size: 12px;
    }
}