.LoginComponents{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

/* Responsive */
@media (max-width: 768px) {

    .ImgComponent{
        display: none;
    }

}
