.AdminPage__Cruds{
    margin-left: 200px;
    margin-right: 300px;
}

.mobileAdmin__nav{
    display: none;
}

.AdminPage__Cruds{
    margin-top: 40px;
}

@media (max-width: 1380px) {
    .mobileAdmin__nav{
        display: inherit;
    }

    .deskAdmin__nav{
        display: none;
    }


}

