.mobileAdmin__nav{
    display: none;
}

.AdminPage__Cruds{
    margin-top: 80px;
}

@media (max-width: 1380px) {
    .mobileAdmin__nav{
        display: inherit;
    }

    .deskAdmin__nav{
        display: none;
    }


}

@media (max-width: 1735px) {

    .crud__list {
        width: 750px;
    }

}