.footer{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: #004B84;
    color: #ffffff;
    font-size: 0.8rem;
    align-items: center;
    margin-top: 15px;
}

.footer button {
    padding: 0;
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.footer button:hover {
    transform: scale(1.05);
}