.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0px 20px;
    position: relative;
}

.menu-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.calendar-icon {
    font-size: 1.8rem;
    color: #000000;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 10;
    margin-top: 10px;
}

a{
    border-top: 0.2px solid #f7f7f7;
    border-top: 0.2px solid #f7f7f7;
    text-decoration: none;
}

.dropdown-menu button {
    background: none;
    border: none;
    color: #000000;
    text-align: left; /* Alinea las letras a la izquierda */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    padding: 15px 20px; /* Margen interno ajustado para separación */
    display: flex;
    width: 100%;
}

.header .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}