<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Class Hour</title>
</head>

<body>
  <h1>Create New Create Class</h1>
  <form action="/classHour" method="POST">
    <label for="turn">Turn:</label>
    <input type="text" id="turn" name="turn" required>

    <label for="sessionHour">Session Hour:</label>
    <input type="text" id="sessionHour" name="sessionHour" required>

    <label for="start">Start:</label>
    <input type="time" id="start" name="start" placeholder="Ej 2000-00-00" required>

    <label for="end">End:</label>
    <input type="time" id="end" name="end" placeholder="Ej 2000-00-00" required>

    <button type="submit">Create</button>
  </form>
  <a href="/classHour">Back to List</a>
</body>

</html>