.HomeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 20px;
    padding-left: 250px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.HomeContent__Img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 260px;
    margin-top: 20px;
}

.HomeContent__Img1 img {
    width: 70%;
    height: 370px;
    object-fit: contain;
    display: block;
}

.HomeContent__Img2 {
    display: none;
}

.HomeContent__Cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 1440px) {
    .HomeContent {
        padding-top: 50px;
    }
}

@media (min-width: 769px) and (max-width: 1439px) {
    .HomeContent__Img1 {
        display: none;
    }

    .HomeContent__Img2 {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 300px;
    }

    .HomeContent__Img2 img {
        width: 70%;
        height: 370px;
        object-fit: contain;
        display: block;
    }
}
