<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar un grupo</title>
</head>

<body>
  <h1>Editar grupo</h1>
  <form action="/groups/update/<%= data.id %>" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" value="<%= data.name %>" required>
    <br>
    <button type="submit">Actualizar</button>
  </form>
  <a href="/groups">Volver a la lista</a>
</body>

</html>