.card__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 96px;
    font-family: 'Lexend', sans-serif;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 250px;
    border-radius: 20px;
    padding: 25px;
    background-color: #f8f8f8;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    gap: 20px;
    text-align: center;
}

.card__content svg {
    font-size: 3rem;
    color: #333333;
    margin-bottom: 10px;
}

.card__title {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.card__content p {
    font-size: 1.1rem;
    color: #666;
    margin-top: -2px;
    margin-bottom: 20px;
}

.card__content button {
    padding: 10px 20px;  
    font-size: 1rem;  
    color: rgb(0, 0, 0);
    background-color: #9dccf0;  
    height: 40px;
    width: 200px;  
    border: 2px solid transparent; 
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s ease-in-out;
}

.card__content button:hover {
    background-color: #004B84;
    color: #ffffff;
    border: 2px solid #004B84;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 75, 132, 0.5);  
}



