<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de grupos</title>
</head>

<body>
  <h1> Listado de grupos</h1>
  <% if (data.length> 0) { %>
    <% data.forEach((m)=> { %>
      <div class="card">
        <%= m.name %>
        <a href="/groups2/edit/<%= m.id %>">Editar</a>
            <form action="/groups2/delete/<%= m.id %>" method="POST">
              <input type="submit" value="Delete" />
            </form>
      </div>
      <% }) %>
        <p><a href="/groups2/create">Añadir grupo</a>.</p>
        <% } else { %>
          <p>No se encontraron grupos <a href="/groups2/create">Añadir grupo</a>.</p>
          <% } %>
            <div>
              <form action="/groups2/logout" method="POST">
                <button type="submit">Salir</button>
              </form>
            </div>

</body>

</html>