.formalities__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 25%;

}

.formalities_desktop {
    display: flex;
    flex-direction: row;
    gap: 65%;
}

.formalities__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 40px;
}

.formalities__form label {
    font-size: 0.9rem;
    color: #333;
}

.formalities__form select,
.formalities__form input {
    width: 100%;
    padding: 8px;
    border: 0px;
    border-bottom: 1px solid #e0e0e0;
    font-family: MerriweatherSans, sans-serif;
    font-size: 14px;
    color: #6c757d;
}

.formalities__button {
    padding: 10px;
    background-color: #004B84;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: MerriweatherSans, sans-serif;
    font-size: 14px;
    width: 200px;
    margin-bottom: 20px;
}

.formalities__button:hover {
    background-color: #0056b3;
}

.formalities__info {
    margin-top: 10px;
    width: 400px;
}

.formalities__data {
    display: flex;
    justify-content: left;
    align-items: center;
    /* Asegura que el ícono y texto estén centrados verticalmente */
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #787486;
    font-size: 0.9rem;
}