/* --- Responsividad --- */
@media (max-width: 1439px) {
    .desktop {
        display: none;
    }

    .formalities__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 25%;
    }
}

@media (min-width: 1440px) {
    .mobile {
        display: none;
    }
}