.LoginPageContainer {
    width: 350px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .LoginPageContainer h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .LoginGoogleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    padding: 3px;
  }
  
  .LoginGoogleButton img {
    width: 30px;
    margin-right: 8px;
  }
  
  .divider {
    margin: 35px 0px;
    font-size: 16px;
    color: #666;
  }
  
  .LoginInputText {
    display: block;
    text-align: left;
    font-size: 14px;
    margin: 10px 0 5px;
  }

  .LoginInputText p{
    margin-bottom: 5px;
  }
  
  .LoginInputText input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 318px;
  }
  
  .LoginRememberForgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
  }

  .LoginRememberForgot label{
    display: flex;
  }
  
  .ForgotPassword {
    color: #007bff;
    text-decoration: none;
  }
  
  .ForgotPassword:hover {
    text-decoration: underline;
  }
  
  .LoginPageButton {
    width: 100%;
    padding: 20px;
    background-color: #0A5FA6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .LoginPageButton:hover {
    background-color: #000000;
  }

  /* Responsive */
/* @media (max-width: 768px) {

.LoginPageContainer{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1vw;
}

.divider{
  font-size: smaller;
}

} */
